.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#main {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.Navbar {
  flex: 0 0 auto;
}

.Ticker {
  flex: 0 0 auto;
}

.Rankings {
  flex: 5;
  background-color: #383838;
}

.Trades {
  flex: 3;
  min-width: 10rem;
  background-color: #303030;
}

html {
  background-color: #222;
  color: #ffffff;
  /* font-size: calc(10px + 2vmin); */
  font-size: 24px;
}
